<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/todo.css" rel="stylesheet">
    <title>TO-Do-List</title>
    <style>
        body{background-image:url('https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExMHJ3MjIwNXF4b3cwMGN2OGY4a2c0dzBlajhmaGxydTBmd2kyNmNjMiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/eIoW71W2dLL4Q/giphy.gif');  background-size: cover;  }
          /* url('https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExbDBkZzF4ZDF5bjduaXd2MGN5bnV3cHh5c2xzcTJkcDBjY2ludWw0cSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/WAIknJIOLZWk6iKpyl/giphy.gif'); */
      </style>
</head>