<%- include("partials/_headcoldash") -%>
<body>

    <%- include("partials/sidebar") -%>

    <button onclick="bg()" style="background-color: bisque;">Set background</button>
    <script src="js/bg.js"></script>
    <%- include("infofrom") -%>
    
</body>